<h3>ユーザー投稿物一覧</h3>

<% @reviews.each do |review| %>

<%= link_to review.title.truncate(10), admins_review_path(review.id) %>

  <%= review.prefecture %>

  <%= review.brand %>

  <%= link_to review.user.name, admins_user_path(review.user) %>

  <%= review.created_at.strftime('%Y/%m/%d %H:%M') %>


 <% end %>
