<%= render 'reviews/link' %>

<h3>投稿物詳細</h3>

  <%= @review.title %>

  <%= @review.prefecture %>

  <%= @review.brand %>

  <%= attachment_image_tag reivew, :image, :fill, 100, 100, format: 'jpeg' %>

  <%= @review.body %>

  <%= link_to @user.name, user_path(@user) %>

  <%= @review.created_at.strftime('%Y/%m/%d %H:%M') %>

  <%= @review.likes.count %>件の乾杯

  <%= link_to "削除", admins_review_path(@review), method: :delete, "data-confirm" => "削除してよろしいですか？" %>