<%= render 'reviews/link' %>

<h3><%= @user.name%>さんが乾杯したのみ録</h3>

<% @reviews.each do |review| %>

  <%= link_to review.title.truncate(10), review_path(review.id) %>

  <%= review.prefecture %>

  <%= review.brand %>

  <%= review.user.name %>

  <%= review.created_at.strftime('%Y/%m/%d %H:%M') %>

 <% end %>


