
 <div class="title">プロフィール
 <% if user_signed_in? and user.id == current_user.id %>
 　   <%= link_to edit_user_path(user) do %>
       <i class="fas fa-cog"></i>
      <% end %>
　  <% end %>
</div>



 <p><%= user.name %><br />
 <p><%= user.profile %></p><br />


 <%= link_to user_likes_path(user.id) do %>
  <%= image_tag '乾杯青.png', size: '35x35', alt: '乾杯!一覧' %>
 <% end %>

 <% if admin_signed_in? %>
 　<%= link_to 'ユーザーを削除', admins_user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？"%>
　<% end %>