<%= render 'reviews/link' %>
<div class="user-edit contents">
    <h3>アカウント情報編集</h3>
    <%= form_with model: @user, local: true do |f| %>
    <% if @user.errors.any? %>
    <div class="alert alert-warning" role="alert">
        <h4>
            <%= @user.errors.count %>件のエラーがあります。</h4>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li>
                <%= message %>
            </li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="field">
        <%= f.text_field :name, autofocus: true, placeholder:"名前(15文字以下)" %>
    </div><br>
    <div class="field" style="margin-left: 5px;">
        <%= f.radio_button :sex, '男', checked: "checked" %>
        <p>男</p>
        <%= f.radio_button :sex, '女' %>
        <p>女</p>
        <%= f.radio_button :sex, 'その他' %>
        <p>その他</p>
    </div><br>
    <div class="field" style="margin-left: -5px;">
        <%= f.date_select :birthday, start_year: 1900, end_year: Time.current.year, default: Date.new(1989, 1, 1), use_month_numbers: true, order: [:year, :month, :day], date_separator: '/' %>
        <p style="display: inline-block;">生まれ</p>
    </div><br>
    <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
    </div><br>
    <div class="field">
        <%= f.text_area :profile, autofocus: true, placeholder:"プロフィール(50文字以下)" %>
    </div><br>
    <%= f.submit '更新' %>
    <% end %>
    <div class="edit-link">
        <p>
            <%= link_to 'パスワード変更', edit_user_registration_path(@user) %>
        </p><br />
        <p>
            <%= link_to '退会はこちら', check_path(@user) %>
        </p>
    </div>
</div>