<%= render 'reviews/link' %>

<h3><%= @user.name %>さんのホーム</h3>

<%= render 'users/list', user: @user %>



<h4>ぽん図</h4>


<h4><%= @user.name %>さんののみ録一覧</h4>

 <% @reviews.reverse_order.each do |review| %>

  <%= link_to review.title.truncate(10), review_path(review.id) %>

  <%= review.prefecture %>

  <%= review.brand %>

  <%= review.user.name %>

  <%= review.created_at.strftime('%Y/%m/%d %H:%M') %>

 <% end %>