<%= render 'reviews/link' %>

<h3><%= @user.name %>さんのホーム</h3>

<%= render 'users/list', user: @user %>



<h4>ぽん図</h4>

<%= image_tag '日本地図(白).png', alt: 'ぽん図画像', usemap: "#ImageMap" %>

<map name="ImageMap">
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '北海道') do %>
    <area shape="poly" coords="597,6,812,6,812,141,654,141,651,162,596,163,596,162" alt="北海道" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '青森県') do %>
    <area shape="rect" coords="595,185,752,233" alt="青森" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '秋田県') do %>
    <area shape="rect" coords="675,236,752,292" alt="秋田" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '岩手県') do %>
   <area shape="rect" coords="595,236,672,293" alt="岩手" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '山形県') do %>
   <area shape="rect" coords="676,296,753,352" alt="山形" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '宮城県') do %>
   <area shape="poly" coords="595,296,672,296,671,352,625,352,624,332,595,331,595,331" alt="宮城" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '福島県') do %>
   <area shape="rect" coords="625,356,752,412" alt="福島" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '新潟県') do %>
   <area shape="poly" coords="596,336,622,336,621,411,546,410,546,356,595,355,595,355" alt="新潟" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '富山県') do %>
   <area shape="rect" coords="485,356,542,412" alt="富山" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '石川県') do %>
   <area shape="rect" coords="446,335,482,413" alt="石川" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '福井県') do %>
   <area shape="poly" coords="445,416,480,416,480,471,405,471,406,436,446,435,446,435" alt="福井" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '茨城県') do %>
   <area shape="rect" coords="716,415,752,493" alt="茨城" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '栃木県') do %>
   <area shape="rect" coords="655,416,712,472" alt="栃木" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '群馬県') do %>
   <area shape="rect" coords="595,416,652,472" alt="群馬" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '埼玉県') do %>
   <area shape="rect" coords="595,476,712,522" alt="埼玉" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '千葉県') do %>
   <area shape="rect" coords="715,495,752,633" alt="千葉" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '東京都') do %>
   <area shape="poly" coords="625,526,711,526,711,552,683,551,681,572,624,572,624,572" alt="東京" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '神奈川県') do %>
   <area shape="poly" coords="596,576,682,576,683,633,626,632,625,603,595,601,595,601" alt="神奈川" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '長野県') do %>
   <area shape="poly" coords="525,416,591,416,591,521,563,521,560,571,525,570,526,571" alt="長野" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '岐阜県') do %>
   <area shape="rect" coords="486,415,522,573" alt="岐阜" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '山梨県') do %>
   <area shape="rect" coords="565,525,623,573" alt="山梨" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '静岡県') do %>
   <area shape="poly" coords="545,576,591,576,591,605,622,606,621,632,545,631,545,631" alt="静岡" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '愛知県') do %>
   <area shape="rect" coords="485,576,542,632" alt="愛知" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '滋賀県') do %>
   <area shape="rect" coords="445,475,482,533" alt="滋賀" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '京都府') do %>
   <area shape="poly" coords="366,436,402,436,401,476,442,476,441,532,366,532,366,532" alt="京都" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '兵庫県') do %>
   <area shape="rect" coords="325,436,362,554" alt="兵庫" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '三重県') do %>
   <area shape="rect" coords="446,536,482,673" alt="三重" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '奈良県') do %>
   <area shape="rect" coords="405,536,441,632" alt="奈良" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '大阪府') do %>
   <area shape="rect" coords="366,535,402,603" alt="大阪" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '和歌山県') do %>
   <area shape="poly" coords="365,606,400,606,401,636,442,636,442,672,365,673,365,673" alt="和歌山" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '鳥取県') do %>
   <area shape="rect" coords="285,436,322,492" alt="鳥取" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '島根県') do %>
   <area shape="rect" coords="245,436,282,492" alt="島根" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '岡山県') do %>
   <area shape="rect" coords="286,495,322,553" alt="岡山" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '広島県') do %>
   <area shape="rect" coords="245,496,282,552" alt="広島" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '山口県') do %>
   <area shape="rect" coords="205,436,242,552" alt="山口" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '香川県') do %>
   <area shape="rect" coords="275,576,342,622" alt="香川" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '愛媛県') do %>
   <area shape="rect" coords="205,576,272,622" alt="愛媛" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '徳島県') do %>
   <area shape="rect" coords="275,626,341,672" alt="徳島" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '高知県') do %>
   <area shape="rect" coords="204,626,273,672" alt="高知" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '福岡県') do %>
   <area shape="poly" coords="86,436,181,436,181,473,143,473,142,521,84,521,84,521" alt="福岡" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '佐賀県') do %>
   <area shape="rect" coords="46,435,82,522" alt="佐賀" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '長崎県') do %>
   <area shape="rect" coords="5,435,42,523" alt="長崎" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '大分県') do %>
   <area shape="rect" coords="145,476,182,542" alt="大分" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '熊本県') do %>
   <area shape="rect" coords="86,526,141,612" alt="熊本" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '宮崎県') do %>
   <area shape="rect" coords="145,546,182,613" alt="宮崎" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '鹿児島県') do %>
   <area shape="rect" coords="86,616,182,672" alt="鹿児島" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '沖縄県') do %>
   <area shape="rect" coords="86,696,122,752" alt="沖縄" />
  <% end %>
</map>


<h4><%= @user.name %>さんののみ録一覧</h4>

 <% @reviews.reverse_order.each do |review| %>

  <%= link_to review.title.truncate(10), review_path(review.id) %>

  <%= review.prefecture %>

  <%= review.brand %>

  <%= review.user.name %>

  <%= review.created_at.strftime('%Y/%m/%d %H:%M') %>

 <% end %>