<%= render 'reviews/link' %>

<div class="home contents clearfix">

 <h3><%= @user.name %>さんのマイページ</h3>

 <div class="home-top clearfix">

  <div class="profile-box">
   <%= render 'users/list', user: @user %>
  </div>


<div class="map-box">
 <h4>のみ図</h4>

 <p>レビューが多い地域ほど色が濃くなります。</p>

 <%= image_tag '日本地図(白).png', alt: 'ぽん図画像', usemap: "#ImageMap" %>

 <map name="ImageMap">
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '北海道') do %>
    <area shape="poly" coords="401,4,548,4,548,97,440,96,439,110,401,110,401,110" alt="北海道" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '青森県') do %>
    <area shape="rect" coords="401,124,507,157" alt="青森" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '秋田県') do %>
    <area shape="rect" coords="455,158,507,198" alt="秋田" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '岩手県') do %>
   <area shape="rect" coords="401,160,454,197" alt="岩手" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '山形県') do %>
   <area shape="rect" coords="456,199,508,239" alt="山形" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '宮城県') do %>
   <area shape="poly" coords="401,200,453,200,451,236,421,236,421,223,400,222,400,222" alt="宮城" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '福島県') do %>
   <area shape="rect" coords="422,240,507,277" alt="福島" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '新潟県') do %>
   <area shape="poly" coords="402,226,419,226,419,277,368,276,368,240,401,239,401,239" alt="新潟" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '富山県') do %>
   <area shape="rect" coords="327,240,365,277" alt="富山" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '石川県') do %>
   <area shape="rect" coords="300,226,325,279" alt="石川" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '福井県') do %>
   <area shape="poly" coords="300,281,324,281,323,318,273,317,273,294,300,294,300,294" alt="福井" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '茨城県') do %>
   <area shape="rect" coords="482,280,507,333" alt="茨城" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '栃木県') do %>
   <area shape="rect" coords="442,280,480,318" alt="栃木" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '群馬県') do %>
   <area shape="rect" coords="401,280,440,319" alt="群馬" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '埼玉県') do %>
   <area shape="rect" coords="401,321,481,352" alt="埼玉" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '千葉県') do %>
   <area shape="rect" coords="483,334,507,426" alt="千葉" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '東京都') do %>
   <area shape="poly" coords="422,355,478,354,479,372,461,372,458,385,422,386,422,386" alt="東京" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '神奈川県') do %>
   <area shape="poly" coords="401,388,459,388,459,427,421,426,420,405,401,403,401,403" alt="神奈川" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '長野県') do %>
   <area shape="poly" coords="354,282,399,281,399,353,379,352,378,385,354,385,354,382" alt="長野" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '岐阜県') do %>
   <area shape="rect" coords="327,281,352,385" alt="岐阜" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '山梨県') do %>
   <area shape="rect" coords="382,355,419,384" alt="山梨" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '静岡県') do %>
   <area shape="poly" coords="368,388,398,388,397,406,418,409,418,424,368,425,368,425" alt="静岡" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '愛知県') do %>
   <area shape="rect" coords="327,388,365,426" alt="愛知" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '滋賀県') do %>
   <area shape="rect" coords="300,321,325,358" alt="滋賀" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '京都府') do %>
   <area shape="poly" coords="247,294,270,294,269,321,297,321,296,357,246,357,246,357" alt="京都" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '兵庫県') do %>
   <area shape="rect" coords="220,294,243,372" alt="兵庫" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '三重県') do %>
   <area shape="rect" coords="300,361,325,453" alt="三重" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '奈良県') do %>
   <area shape="rect" coords="274,362,298,425" alt="奈良" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '大阪府') do %>
   <area shape="rect" coords="247,361,271,406" alt="大阪" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '和歌山県') do %>
   <area shape="poly" coords="246,410,270,409,270,429,297,429,298,455,246,453,246,453" alt="和歌山" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '鳥取県') do %>
   <area shape="rect" coords="192,294,217,331" alt="鳥取" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '島根県') do %>
   <area shape="rect" coords="165,294,190,331" alt="島根" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '岡山県') do %>
   <area shape="rect" coords="193,335,217,372" alt="岡山" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '広島県') do %>
   <area shape="rect" coords="166,335,190,371" alt="広島" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '山口県') do %>
   <area shape="rect" coords="139,294,163,371" alt="山口" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '香川県') do %>
   <area shape="rect" coords="186,388,231,419" alt="香川" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '愛媛県') do %>
   <area shape="rect" coords="139,388,183,419" alt="愛媛" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '徳島県') do %>
   <area shape="rect" coords="186,422,230,452" alt="徳島" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '高知県') do %>
   <area shape="rect" coords="139,422,183,452" alt="高知" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '福岡県') do %>
   <area shape="poly" coords="58,294,123,294,121,317,94,317,95,352,58,350,58,350" alt="福岡" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '佐賀県') do %>
   <area shape="rect" coords="31,294,55,351" alt="佐賀" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '長崎県') do %>
   <area shape="rect" coords="3,293,28,352" alt="長崎" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '大分県') do %>
   <area shape="rect" coords="99,321,123,365" alt="大分" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '熊本県') do %>
   <area shape="rect" coords="57,355,95,412" alt="熊本" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '宮崎県') do %>
   <area shape="rect" coords="99,368,122,412" alt="宮崎" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '鹿児島県') do %>
   <area shape="rect" coords="58,415,123,452" alt="鹿児島" />
  <% end %>
  <%= link_to user_prefecture_path(user_id: @user.id, prefecture: '沖縄県') do %>
   <area shape="rect" coords="58,469,82,507" alt="沖縄" />
  <% end %>
 </map>
 </div>

</div>

 <div class="home-under">

  <h4><%= @user.name %>さんのレビュー一覧</h4>

  <% @reviews.reverse_order.each do |review| %>

  <div class="review">

    <div>
      <%= link_to review.title.truncate(8), review_path(review.id) %>
    </div>
    <p style="font-size: 15px;">
      <%= review.prefecture %>
    </p>

    <p style="font-size: 17px;">
      <%= review.brand %>
    </p>

    <div class="image">
      <%= attachment_image_tag review, :image, :fill, 150, 100, format: 'jpeg' %>
    </div>

    <p class="date">
      <%= review.created_at.strftime('%Y/%m/%d %H:%M') %>
    </p>
  </div>
 <% end %>

 </div>

</div>