<%= render 'reviews/link' %>

<div class="user-index contents">

<h3>ユーザー詳細</h3>

<p>名前：<%= @user.name %></p>
<p>性別：<%= @user.sex %></p>
<p>生年月日：<%= @user.birthday %></p>
<p>メールアドレス：<%= @user.email %></p>
<p>プロフィール文：<%= @user.profile %></p>

<div style="width: 100px; margin: 20px auto;"><%= link_to 'ユーザーを削除', admins_user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？"%></div>

<h3>投稿物一覧</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>タイトル</th>
      <th>地域</th>
      <th>銘柄</th>
      <th>投稿日</th>
    </tr>
  </thead>
  <tbody>
  	<% @reviews.each do |review| %>
  	<tr>
  	 <td><%= review.id %></td>
  	 <td><%= link_to review.title.truncate(10), admins_review_path(review.id) %></td>
  	 <td><%= review.prefecture %></td>
  	 <td><%= review.brand %></td>
  	 <td><%= review.created_at.strftime('%Y/%m/%d %H:%M') %></td>
  	</tr>
    <% end %>
    <%= paginate @reviews, class: "paginate" %>
  </tbody>
</table>


</div>