<%= render 'reviews/link' %>

<div class="pass-new contents">

<h3>パスワード再設定</h3>

<p>パスワードを再設定します。
   新しいパスワードを入力してください。</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "パスワード(6文字以上)" %>
    <span toggle="password-field" class="glyphicon glyphicon-eye-open toggle-password" aria-hidden="true"></span>
  </div><br>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワードを再度入力してください" %>
  </div><br>

  <div class="action">
    <%= f.submit "パスワード設定" %>
  </div>
<% end %>

</div>
