<% if user_signed_in? %>
<div class="like-link" id="like-link-<%= review.id %>">
 <% if current_user.likes.find_by(review_id: review.id) %>
   <%= link_to unlike_path(review.id), method: :delete, remote: true do %>
    <%= image_tag '乾杯水.png', size: '25x25', alt: '乾杯画像' %>
   <% end %>
    <% if review.user.id == current_user.id %>
     <%= review.likes.count %>
    <% end %>乾杯
   <% else %>
   <%= link_to like_path(review), method: :post, remote: true do %>
    <%= image_tag '乾杯白.png', size: '25x25', alt: '乾杯画像' %>
   <% end %>
    <% if review.user.id == current_user.id %>
     <%= review.likes.count %>
    <% end %>乾杯
  <% end %>
</div>
<% end %>

<% if admin_signed_in? %>
 <%= @review.likes.count %>件の乾杯
<% end %>