<%= render 'reviews/link' %>

<h3>レビューの編集</h3>

<%= form_with model: @review, local: true do |f| %>

 <% if @review.errors.any? %>
   <div class="alert alert-warning" role="alert">
     <h4><%= @review.errors.count %>件のエラーがあります。</h4>
      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
   </div>
  <% end %>

 <div class="field">
	<%= f.label :brand, "飲んだお酒の銘柄" %>(必須)<br />
	<%= f.text_field :brand, autofocus: true, placeholder:"例：純米大吟醸　百四拾　田酒" %>
 </div>

 <div class="field">
    <%= f.label :prefecture_name, "お酒の産地" %>(必須)<br />
    <%= f.select :prefecture, Review.prefectures.keys.to_a, {prompt: '選択してください'} %>
 </div>

 <div class="field">
    <%= f.label :image, "画像" %>(最大1枚)<br />
    <%= f.attachment_field :image, placeholder: "画像を選択" %>
 </div>

 <div class="field">
	<%= f.label :title, "タイトル" %>(必須)<br />
    <%= f.text_field :title, autofocus: true %>
 </div>

 <div class="field">
	<%= f.label :body, "本文" %>(必須)<br />
	<%= f.text_area :body, autofocus: true %>
 </div>

 <%= f.submit '更新' %>

<% end %>

<%= link_to '更新せずに戻る', review_path(@review) %>
