<div class="main-visual">
    <div class='wave'></div>
    <div class='wave'></div>
    <% if admin_signed_in? %>
    <nav>
        <ul>
            <%= link_to admins_users_path do %>
             <li style="background-color: #44617B;">ユーザー一覧</li>
            <% end %>
            <%= link_to admins_reviews_path do %>
             <li style="background-color: #69C2C7;">レビュー一覧</li>
            <% end %>
            <%= link_to destroy_admin_session_path, method: :delete do %>
             <li style="background-color: #D3CFD9;">ログアウト</li>
            <% end %>
        </ul>
    </nav>
    <% elsif user_signed_in? %>
    <nav>
        <ul>
            <%= link_to user_path(current_user.id) do %>
             <li style="background-color: #5C9291;">マイページ</li>
            <% end %>
            <%= link_to reviews_path do %>
             <li style="background-color: #69C2C7;">レビューを探す</li>
            <% end %>
            <%= link_to new_review_path do %>
             <li style="background-color: #44617B;">レビューを書く</li>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
             <li style="background-color: #D3CFD9;">ログアウト</li>
            <% end %>
        </ul>
    </nav>
    <% else %>
    <nav>
        <ul>
            <%= link_to reviews_path do %>
             <li style="background-color: #69C2C7;">レビューを探す</li>
            <% end %>
            <%= link_to new_user_session_path do %>
             <li style="background-color: #9ED1D3;">ログイン</li>
            <% end %>
            <%= link_to new_user_registration_path do %>
             <li style="background-color: #84A2D4;">アカウント登録</li>
            <% end %>
        </ul>
    </nav>
    <% end %>
    <div class="logo">
      <%= image_tag '/images/logo4.png', size: '320x320', alt: 'ロゴ' %>
    </div>
</div>

<div class="top-contents clearfix">
    <div class="about" id="animation">
        <h3>のみ録とは？</h3>
        <hr class="sep"/>
        <p class="about-text">
        日本酒のレビュー投稿サイトです。<br />1投稿につき1種類のお酒についてレビューを書くことができます。
        アカウントを持つことで、レビューを投稿したりお気に入りのレビューに「乾杯！」することができます。<br />また、レビューはお酒の産地ごとにタグ分けされるので、「自分がどこの日本酒をどれくらい飲んだのか？」が「のみ図」という日本地図でわかるようになります。この「のみ図」はアカウント登録後、マイページから確認ができます。<br />　アカウントがなくても、レビューを探したり、他のユーザーの「のみ図」を見たりなど、楽しむことができます。まずは、色んなユーザーのレビューを読んでみるのがおすすめです。</p>
      </header>
    </div>
    <div class="concept" id="fadein">
        <h3>コンセプト</h3>
        <hr class="sep"/>
        <p class="concept-text">
        「日本酒、飲んでみたいけれど種類とかよくわからない...」<br />
        「いつも同じレパートリーばかり飲んでいるから、開拓しようかな」<br />
        「地酒は結構飲む方だけど、まだ飲んだことない地域のお酒とかあるかな？」<br />
          のみ録は、日本酒に馴染みない方も日本酒好きの方も、みんなが楽しめることが第一コンセプトです。<br />
          誰かおすすめを手当たり次第飲むんでみる、「のみ図」を全国制覇してみる、運命の一本との出会いを探す、あなたの素敵な日本酒ライフの一助となれば幸いです。</p>
    </div>

    <% if @review.present? %>
    <div class="pickup">
      <div class="right-box">
        <div class="balloon3-right">PICKUP
        </div>
        <p>今週人気のレビューです！</p>
      </div>
        <% @review.each do |review| %>

        <%= link_to review_path(review.id) do %>
        <div class="review-box">
         <div class="inner-review-box">

          <h4 class="review-title"><%= review.title.truncate(10) %></h4>

          <p style="font-size: 15px;"><%= review.prefecture %></p>

          <p style="font-size: 17px;"><%= review.brand %></p>

          <div class="image"><%= attachment_image_tag review, :image, :fill, 150, 100, format: 'jpeg' %></div>

          <p style="font-size: 16px;">書いた人：<%= review.user.name %></p>

          <p class="date"><%= review.created_at.strftime('%Y/%m/%d %H:%M') %></p>
         </div>
        </div>
        <% end %>
        <% end %>
    </div>
    <% end %>
</div>