<!DOCTYPE html>
<html>

<head>
    <title>のみ録</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <% if flash[:notice] %>
     <p class="alert alert-success" role="alert"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
     <p class="alert alert-warning" role="alert"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
</body>

</html>