<%= render 'reviews/link' %>

<div class="user-login contents">

<h3>パスワード変更</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <% if resource.errors.any? %>
   <div class="alert alert-warning" role="alert">
     <h4><%= resource.errors.count %>件のエラーがあります。</h4>
      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
   </div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "新しいパスワード(6文字以上)" %>
    <span toggle="password-field" class="glyphicon glyphicon-eye-open toggle-password" aria-hidden="true"></span>
  </div><br />

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "新しいパスワードを再度入力してください" %>
  </div><br />

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワードを入力してください" %>
  </div><br />

  <div class="action">
    <%= f.submit "変更" %>
  </div>
<% end %>

<div class="back"><%= link_to "戻る", :back %></div>

</div>
